<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <%if(user){%>
    <p><%=user.name%></p>
    <a href="/logout">logout</a>
    <p> đây là trang admin</p>
    <%}%>
    
 nằm ở menu sản PHẨM
 <button class="btn btn-success"><a href="/product">sản phẩm đang bán</a></button>
 <form action="/admin" method="post">
    <button>nhap vao day</button>
    <input type="hidden" value="<%=locals.notif%>" id="notification">
    <script>
    var notification= document.getElementById('notification').value

        if(notification!==''){
            alert(notification)
        }
        </script>
    
       
</form>
    
    
</body>
</html>